# Ignore EVERYTHING
*

# Allow .gitignore itself
!.gitignore

# Allow the Core folder
!Core/
!Core/**

# But still ignore everything inside Core by default
Core/*

# Allow ONLY Inc/ and Src/ inside Core
!Core/Inc/
!Core/Src/

# Allow only .c and .h files inside Inc/ and Src/
Core/Inc/*    # ignore all
Core/Src/*    # ignore all

!Core/Inc/*.h
!Core/Src/*.c
!Core/Src/*.h
!Core/Inc/*.c
